[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
defusedxml = "0.7.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.18"

[scripts]
test = "pytest"
